.multi-column-with-text-v2{
    --section-vertical-spacing: var(--section-without-border-vertical-spacing);
    --section-vertical-spacing-tight: var(--section-without-border-vertical-spacing-tight);
    .main-stack-container{
        @media screen and (min-width: 1000px){
            --section-stack-gap: 3.438rem;
        }
        .section-header{
            .prose{
                h2{
                    color: #000;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 6.4px;
                    text-transform: uppercase;
                }
                p{
                    margin-block-start: 1rem;
                    color: #343434;
                    text-align: center;
                    font-family: Nunito Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .multi-column__item{
            border-radius: 22px;
            border: 1px solid #343434;
            background: #EFEFEF;
            overflow: hidden;
            row-gap: 1.438rem;
            .figure-part{
                border-bottom: 1px solid #343434;
            }
            .text-part{
                padding:0px 35px 34px;
                .heading-part{
                    color: #343434;
                    text-align: center;
                    font-family: Nunito Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: initial;
                }
                .content-part {
                    margin-block-start: 0.688rem;
                    p{
                        color: #343434;
                        text-align: center;
                        font-family: Nunito Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}