.template--product-Yonder-dev,.template--product-yonder-dev {

  .sticky-product-gallery{
    product-gallery{
      @media screen and (min-width: 1000px) {
        --product-gallery-thumbnail-size: 6.25rem;
        column-gap: 2.438rem;
        position: sticky;
        top: var(--container-gutter);
      }
    }
  }
  .product{
    @media screen and (max-width: 999px) {
      gap: var(--product-gap, 1.5rem);
    }
  }
  product-gallery {
    .product-gallery__thumbnail[aria-current="true"] {
      padding: 0px;
      &[aria-current="true"] {
        border-color: $active-color;
      }
    }
    // working on badge collouts
    .product-gallery__image-list {
      position: relative;
      .callout_badges_container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
        @media screen and (max-width: 999px) {
          left: -10px;
        }
        .Badge-item {
          background-color: #1c1c1c;
          color: #fff;
          border-radius: 22px;
          padding: 6px 12px;
          font-family: Nunito Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          width: fit-content;
        }
      }
    }
    //product gallery responsive part
    @media screen and (max-width: 999px) {
      --product-gallery-carousel-grid: auto / auto-flow min(28rem, 90vw);
    }
  }


  .product-info {
    //product callout
    .product_title_with_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-title {
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 6px;
        text-transform: uppercase;
        @media screen and (max-width: 999px) {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 4px;
        }
      }
      .loox-rating-content {
        color: #1c1c1c;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    //working on second short text
    .product-info-type-text:nth-child(-n + 2) {
      .prose :where(h1, h2, h3, h4, h5, h6) {
        font-family: Nunito Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        letter-spacing: 3.2px;
        text-transform: uppercase;
      }
    }
    .product-info-type-text:nth-child(even) {
      color: #343434;
      font-family: Nunito Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      ul {
        row-gap: 9px;
        li {
          padding: 0px;
        }
      }
    }

    //product with price cotnainer
    .product_with_price_container {
      display: flex;
      align-items: center;
      column-gap: 20px;
      --on-sale-text: 5, 0, 255;
      --on-sale-badge-background: 5, 0, 255;
      sale-price {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;
        text-transform: uppercase;
      }
      compare-at-price {
        color: rgba(28, 28, 28, 0.51);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;
        text-decoration-line: strikethrough;
        text-transform: uppercase;
      }
      badge-list {
        on-sale-badge {
          text-align: center;
          font-family: Montserrat;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          border-radius: 22px;
          padding: 5px 10px;
        }
      }
    }

    .product-info__block-item[data-block-type="product-variations"] {
      .variant-picker__option {
        .h-stack:not(.variant-picker__option-values) {
          color: #343434;
          font-family: Nunito Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media screen and (max-width: 999px) {
            font-size: 16px;
          }
          .text-subdued {
            color: inherit;
          }
        }
        //option images
        .h-stack.variant-picker__option-values {
          column-gap: 13px;
          @media screen and (max-width: 999px) {
            column-gap: 12px;
          }
          .media-swatch {
            border-radius: 22px;
            border-color: #BEBEBE;
            aspect-ratio: 1;
              --swatch-size: 6.938rem;
              @media screen and (max-width: 999px) {
                --swatch-size: 5.875rem;
              }
            &.is-selected{
              border-color: $active-color;
            }
          }
        }
      }
    }

    //product button with quantity
    .product_buy_form_wrapper{


      .container_buy_box{
        display: flex;
        column-gap: 22px;
        @media screen and (max-width: 999px) {
          column-gap: 11px;
        }
        flex-direction: row-reverse;
        buy-buttons-custom{
          flex: 1;
          button[type="submit"]{
            color: #FFF;
            text-align: center;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            column-gap: 8px;
            padding-top: 13px;
            padding-bottom: 13px;
            @media screen and (max-width: 999px) {
              column-gap: 6px;
              padding-left: 10px;
              padding-right: 10px;
            }
            &:hover{
              color: #1C1C1C;
            }
          }
          .price-list--product{
            sale-price{
              color: inherit;
              text-align: center;
              font-family: Nunito Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 1.4px;
              text-transform: uppercase;
            }
            compare-at-price{
              display: none;
            }
          }
        }
        quantity-selector{
          --quantity-selector-height: 2.5rem;
          --quantity-selector-input-width: 1.5rem;
          grid-auto-rows:auto;
          border-radius: 22px;
        }
      }
    }

    //accordio group
    .product-info__block-group.accordion-group{
      .accordion  {
        .accordion__toggle {
            color: #1C1C1C;
            font-family: Nunito Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 137.5% */
            letter-spacing: 0.8px;
            @media screen and (max-width: 999px) {
              font-size: 14px;
              letter-spacing: 0.7px;
            }
        }
      }
    }

    //feature list v2
    .feature-badge-list-v2{
      justify-content: space-evenly;
      @media screen and (max-width: 700px) {
        justify-content: space-between;
        column-gap: 10px;
      }
      align-items: flex-end;
      .product-info__block-item{
        width: 100px;
        min-width: 100px;
        .feature-badge {
          flex-direction: column;
          row-gap: 18px;
          text-align: center;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          padding: 0px;
        }
      }
    }
    .scroll-customize-wrapper-mrb{
      margin-bottom: 27px;
    }
    .product_customizar_options{
      display: flex;
      column-gap: 20px;
      @media screen and (max-width: 999px) {
        column-gap: 13px;
      }
    }

    //Adjust personalizer ZEPTO
    .product-personalizer{
      display: flex;
      flex-wrap: wrap;
      column-gap: 17px;
      row-gap: 13px;
      padding: 14px 16px !important;
      border-radius: 22px;
      border: 1px solid #1C1C1C;
      background: #F9F9F9;
      margin-bottom: 0px !important;
      width: 350px;
      @media screen and (max-width: 999px) {
        width: 320px;
      }
      .pplr-wrapper[data-main="1"]:not(.pplr-checkbox) {
        .pplrlabel{
          padding-block-end: 10px !important;
        }
      }
      .pplr-wrapper[data-main="1"]{
        // width: 100%;
        // display: flex;
        // align-items: center;
        .pplrlabel{
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 17px;
          letter-spacing: 1.6px;
          padding: 0px;
          display: flex;
          align-items: center;
          width: 100%;
          row-gap: 10px;
          input{
            margin-right: 10px;
          }

          .pplr_option_price_span{
            color: #343434;

            text-align: right;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
            flex:1;
          }
        }
      }
      .mains-wrapper{
        order: 3;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-self: flex-end;
        .pplr-wrapper{
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0px;
          justify-content: space-between;
          row-gap: 6px;
          align-items: flex-end;
          .oindexlabel{
            width: 100%;
            color: #1C1C1C;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 100% */
            letter-spacing: 1.4px;
            padding: 5px 0px;
            //width: calc(100% - 40px);
          }
          .label-with-check{
            display: flex;
            align-items: center;
            column-gap: 7px;
          }
          .pplrlabel{
            color: #1C1C1C;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 1.4px;
            width: fit-content;
            padding: 0px;
            height: fit-content;
            width: 75%;
          }
          input[type=text]{
            border-radius: 10px;
            border: 1px solid #1C1C1C;
            background: #F8F8F8;
            margin-bottom: 0px;
            order: 3;
            height: 27px;
            padding: 5px 10px;
            flex: auto;
          }
          .key_layout_sub{
            order: 4;
            vertical-align: middle;
            display: inline-flex;
            align-items: center;
            width: 40px;
            height: 28px;
            font-size: 25px;
            justify-content: center;
            
            
          }
          .key_layout{
            bottom: -14px;
            visibility: hidden;
          }
          .pplr-character-count{
            padding: 0px;
            position: relative;
            color: #B5B5B5;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 1.4px;
            width: fit-content;
            margin-bottom: 0px;
            top: 0;
            height: fit-content;
            overflow: hidden;
            margin-left: auto;
            width: fit-content;
            top: 3px;
            width: 25%;
            overflow: visible;
            white-space: nowrap;
            .lt{
              display: none;
            }
            .lm{
              display: initial;
            }
          }
        }
      }
      .pplr_image_loader{
        width: 90px !important;
        height: 90px !important;
        border-radius: 10px;
        border: 1px solid #343434;
        overflow: hidden;
        display: none;
        img{
          width: 90px !important;
          height: 90px !important;
          max-width: initial;
        }
      }
    }
    .ptw-app-label,.pplr-wrapper .pplrlabel{
      /* Hide the default checkbox */
      input[type="checkbox"]{
        appearance: none;
        height: 16px;
      }

      input[type="checkbox"]:before {
        transition-timing-function: cubic-bezier(.075, .820, .165, 1);
          border: 1px solid;
          border-radius: 22px;
          background-color: transparent;
          border-color: #343434;
          box-sizing: border-box;
          color: #3acfb6;
          content: close-quote;
          display: inline-block;
          height: 16px;
          transition-duration: .5s;
          transition-property: background-color, border-color;
          width: 16px;
      }
      
      input[type="checkbox"]:checked:before {
        background: radial-gradient(#0500FF 0%,#0500FF 50%,transparent 60%,transparent);
        border-color: #343434;
      }
  }

    //Adjust personalizer WRAPIN
    .ptw-app-wrapper{
      display: flex;
      flex-wrap: wrap;
      column-gap: 17px;
      row-gap: 13px;
      padding: 17px !important;
      border-radius: 22px;
      border: 1px solid #1C1C1C;
      background: #F9F9F9;
      margin-bottom: 0px !important;
      width: 350px;
      @media screen and (max-width: 999px) {
        width: 320px;
      }
      .ptw-app-desc{
        flex: 1;
        label[for="ptw-gift-needed"]{
          flex: 1;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 1.6px;
          margin-left: 10px;

          .ptw-price{
            color: #343434;
            text-align: right;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
          }
        }
      }
      .ptw-app-label{
        display: flex;
        input{
          height: 15px;
        }

      }
      .ptw-app-gnote{
        display: flex;
        column-gap: 17px;
        width: 100%;

        .ptw-gift-image{
          width: 90px !important;
          height: 90px !important;
          border-radius: 10px;
          border: 1px solid #343434;
        }
        .ptw-message-note{
          display: initial !important;
          flex: 1;
          
            .note-label{
              color: #1C1C1C;
              font-family: Nunito Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 14px; /* 100% */
              letter-spacing: 1.4px;
              margin-bottom: 15px;
            }

            textarea{
              width: 100%;
              border-radius: 10px;
              border: 1px solid #1C1C1C;
              background: #F8F8F8;
              height: 49px;
              padding: 10px;
            }
        }
      }
    }

    //complimentaory product
    .product-info__block-item[data-block-type="complementary-products-v2"]{
      .complementary-products__header {
        justify-content: start;
        @media screen and (max-width: 999px) {
          row-gap: 10px;
        }
        p{
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.8px;
        }
      }
      .horizontal-product-card{
        border-radius: 22px;
        background: #1C1C1C;
        padding: 18px 22px;
        .horizontal-product-card__figure{
          border-radius: 15px;
          overflow: hidden;
        }
        .horizontal-product-card__info{
          .product-title{
            color: #FFF;
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.8px;
            text-transform: uppercase;
          }
          price-list{
            sale-price{
              color: #FFF;
              font-family: Montserrat;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 1.56px;
              text-transform: uppercase;
            }
            compare-at-price{
              color: rgba(255, 255, 255, 0.60);
              font-family: Montserrat;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 1.56px;
              text-decoration-line: strikethrough;
              text-transform: uppercase;
            }
          }
          .short_description_text{
            color: #FFF;
            font-family: Nunito Sans;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1.56px;
          }
          .action-container{
            min-width: 172px;
            width: 172px;
            color: #fff;
            text-align: center;
            font-family: Nunito Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            .button--outline{
              width: fit-content;
              margin-bottom: 12px;
              width: 100%;
              padding-inline: 10px;
              color: inherit;
            }
            .button--primary{
              background: #0500FF;
              width: 100%;
              padding-inline: 10px;
            }
          }
        }
      }
    }
    horizontal-product-card{
      position: relative;
      .icon-helper{
        position: absolute;
        top: 23px;
        right: 17px;
        cursor: pointer;
        z-index: 2;
      }

    }
    horizontal-product-card:not(.expanded-area-button){
      .short_description_text{
        display: none;
      }
      .icon-helper.remove-icon{
        display: none;
      }
    }
    horizontal-product-card.expanded-area-button{
      min-height: 130px;
      .icon-helper.question-icon{
        display: none; 
      }
      .horizontal-product-card__info{
        height: 100%;
        row-gap: 15px;
        max-width: 70%;
      }
      .horizontal-product-card__figure{
        display: none;
      }
      price-list{
        display: none;
      }
      .short_description_text{
        display: initial;
      }
      .shopify-product-form{
        display: none;
      }
    }
  }
}



//working on spacing between elemnts
.template--product-Yonder-dev,.template--product-yonder-dev{
  .product-info__block-list{
    .product-info__block-item[data-block-type="title-with-rating"]{
      margin-block-end: 0.813rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 1.188rem;
      }
    }
    .product-info-type-text:nth-child(-n + 2) {
      margin-block-start: 0rem;
      margin-block-end: 1.063rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 1.063rem;
      }
    }
    .product-info__block-item[data-block-type="price"]{
      margin-block-start: 0rem;
      margin-block-end: 1.25rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 1.375rem;
      }
    }
    
    .product-info-type-text:nth-child(even){
      margin-block-start: 0rem;
      margin-block-end: 1.75rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 1.375rem;
      }
    }
    
    .product-info__block-item[data-block-type="product-variations"] {
      margin-block-start: 0rem;
      margin-block-end: 1.625rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 1.188rem;
      }
    }
    .product-info__block-item[data-block-type="buy-buttons-with-quantity"] {
      margin-block-start: 0rem;
      margin-block-end: 2.25rem;
      .scroll-customize-wrapper-mrb{
        margin-block-end: 1.438rem;
      }
      @media screen and (max-width: 999px) {
        margin-block-end: 2.188rem;
        .scroll-customize-wrapper-mrb{
          margin-block-end: 1.563rem;
        }
      }
    }
    .block-product-feature_with_icon_v2{
      margin-block-start: 0rem;
      margin-block-end: 2.313rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 2.063rem;
      }
    }
    .product-info__block-item[data-block-type="accordion-group"] {
      margin-block-start: 0rem;
      margin-block-end: 2.05rem;
      @media screen and (max-width: 999px) {
        margin-block-end: 2.05rem;
      }
    }

    
    
  }

  @media screen and (min-width: 1000px) {
    //product thummbnails 
    .product-gallery__thumbnail-list {
      product-gallery-navigaion-scroller{
        row-gap: 20px;
      }
    }
    .product-gallery__thumbnail-list::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50px; /* Set the desired shadow height */
      background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0));
      pointer-events: none;
      z-index: 2;
    }
    
    /* Create a shadow effect at the bottom of the scroller */
    .product-gallery__thumbnail-list::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 50px; /* Set the desired shadow height */
      background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0));
      pointer-events: none;
      transform: rotate(180deg);
      z-index: 2;
    }

    /* Show top shadow when at the top */
    .product-gallery__thumbnail-list.at-top::before {
      display: block;
    }

    /* Show bottom shadow when at the bottom */
    .product-gallery__thumbnail-list.at-bottom::after {
      display: block;
    }

    /* Hide top shadow when not at the top */
    .product-gallery__thumbnail-list:not(.at-top)::before {
      display: none;
    }

    /* Hide bottom shadow when not at the bottom */
    .product-gallery__thumbnail-list:not(.at-bottom)::after {
      display: none;
    }
  }

  product-personalizer-wrapper:not(.ready-custom),.product-personalizer{
    //display: none !important;
  }
  product-personalizer-wrapper.ready-custom{
    .product-personalizer{
      display: flex !important;
      min-height: 100%;
    }
  }
  
  .pplr_prev_span{
    display: none;
  }
}