.template-product {

  .sticky-product-gallery{
    product-gallery{
      @media screen and (min-width: 1000px) {
        --product-gallery-thumbnail-size: 6.25rem;
        column-gap: 2.438rem;
        position: sticky;
        top: 0;
      }
    }
  }
  product-gallery {
    
    .product-gallery__thumbnail[aria-current="true"] {
      padding: 0px;
      &[aria-current="true"] {
        border-color: $active-color;
      }
    }
    // working on badge collouts
    .product-gallery__image-list {
      position: relative;
      .callout_badges_container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
        .Badge-item {
          background-color: #1c1c1c;
          color: #fff;
          border-radius: 22px;
          padding: 6px 12px;
          font-family: Nunito Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          width: fit-content;
        }
      }
    }
  }

  .product-info {
    //product callout
    .product_title_with_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-title {
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 6px;
        text-transform: uppercase;
      }
      .loox-rating-content {
        color: #1c1c1c;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    //working on second short text
    .product-info__block-item[data-block-type="text"]:nth-child(2) {
      .prose :where(h1, h2, h3, h4, h5, h6) {
        font-family: Nunito Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        letter-spacing: 3.2px;
        text-transform: uppercase;
      }
    }
    .product-info__block-item[data-block-type="text"]:nth-child(3) {
      color: #343434;
      font-family: Nunito Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      ul {
        row-gap: 9px;
        li {
          padding: 0px;
        }
      }
    }

    //product with price cotnainer
    .product_with_price_container {
      display: flex;
      align-items: center;
      column-gap: 20px;
      --on-sale-text: 5, 0, 255;
      --on-sale-badge-background: 5, 0, 255;
      sale-price {
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;
        text-transform: uppercase;
      }
      compare-at-price {
        color: rgba(28, 28, 28, 0.51);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;
        text-decoration-line: strikethrough;
        text-transform: uppercase;
      }
      badge-list {
        on-sale-badge {
          text-align: center;
          font-family: Montserrat;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          border-radius: 22px;
          padding: 5px 10px;
        }
      }
    }

    .product-info__block-item[data-block-type="product-variations"] {
      .variant-picker__option {
        .h-stack:not(.variant-picker__option-values) {
          color: #343434;
          font-family: Nunito Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          .text-subdued {
            color: inherit;
          }
        }
        //option images
        .h-stack.variant-picker__option-values {
          column-gap: 13px;
          .media-swatch {
            border-radius: 22px;
            border-color: #BEBEBE;
            aspect-ratio: 1;
            @media screen and (min-width: 700px) {
              --swatch-size: 6.938rem;
            }
            &.is-selected{
              border-color: $active-color;
            }
          }
        }
      }
    }

    //product button with quantity
    .product_buy_form_wrapper{


      .container_buy_box{
        display: flex;
        column-gap: 22px;
        flex-direction: row-reverse;
        buy-buttons{
          flex: 1;
          button[type="submit"]{
            color: #FFF;
            text-align: center;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            column-gap: 8px;
            &:hover{
              color: #1C1C1C;
            }
          }
          .price-list--product{
            sale-price{
              color: inherit;
              text-align: center;
              font-family: Nunito Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 1.4px;
              text-transform: uppercase;
            }
            compare-at-price{
              display: none;
            }
          }
        }
        quantity-selector{
          --quantity-selector-height: 2.5rem;
          --quantity-selector-input-width: 1.5rem;
          grid-auto-rows:auto;
          border-radius: 22px;
        }
      }
    }

    //accordio group
    .product-info__block-group.accordion-group{
      .accordion  {
        .accordion__toggle {
            color: #1C1C1C;
            font-family: Nunito Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 137.5% */
            letter-spacing: 0.8px;
        }
      }
    }

    //feature list v2
    .feature-badge-list-v2{
      justify-content: space-evenly;
      @media screen and (max-width: 700px) {
        justify-content: space-between;
        column-gap: 10px;
      }
      align-items: flex-end;
      .product-info__block-item{
        width: 100px;
        min-width: 100px;
        .feature-badge {
          flex-direction: column;
          row-gap: 18px;
          text-align: center;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    .scroll-customize-wrapper-mrb{
      margin-bottom: 27px;
    }
    .product_customizar_options{
      display: flex;
      column-gap: 20px;
    }

    //Adjust personalizer ZEPTO
    .product-personalizer{
      display: flex;
      flex-wrap: wrap;
      column-gap: 17px;
      row-gap: 13px;
      padding: 17px !important;
      border-radius: 22px;
      border: 1px solid #1C1C1C;
      background: #F9F9F9;
      margin-bottom: 0px !important;
      width: 350px;
      .pplr-wrapper.pplr-checkbox[data-main="1"]{
        width: 100%;
        .pplrlabel{
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 17px;
          letter-spacing: 1.6px;
          padding: 0px;
          display: flex;
          align-items: center;
          width: 100%;
          input{
            margin-right: 10px;
          }

          .pplr_option_price_span{
            color: #343434;

            text-align: right;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
            flex:1;
          }
        }
      }
      .pplr-wrapper[data-main="2"]{
        order: 3;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        .pplrlabel{
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px; /* 100% */
          letter-spacing: 1.4px;
          width: 100%;
          padding: 5px 0px;
        }
        input[type=text]{
          border-radius: 10px;
          border: 1px solid #1C1C1C;
          background: #F8F8F8;
          margin-bottom: 0px;
          order: 3;
          height: 27px;
        }
        .pplr-character-count{
          padding: 0px;
          position: relative;
          color: #B5B5B5;
          font-family: Nunito Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px; /* 100% */
          letter-spacing: 1.4px;
          flex: 1;
          margin-bottom:8px;
          .lt{
            display: none;
          }
          .lm{
            display: initial;
          }
        }
      }
      .pplr_image_loader{
        width: 90px !important;
        height: 90px !important;
        border-radius: 10px;
        border: 1px solid #343434;
        overflow: hidden;
        img{
          width: 90px !important;
          height: 90px !important;
          max-width: initial;
        }
      }
    }
    .ptw-app-label,.pplr-checkbox .pplrlabel{
      /* Hide the default checkbox */
      input[type="checkbox"]{
        appearance: none;
        height: 16px;
      }

      input[type="checkbox"]:before {
        transition-timing-function: cubic-bezier(.075, .820, .165, 1);
          border: 1px solid;
          border-radius: 22px;
          background-color: transparent;
          border-color: #343434;
          box-sizing: border-box;
          color: #3acfb6;
          content: close-quote;
          display: inline-block;
          height: 16px;
          transition-duration: .5s;
          transition-property: background-color, border-color;
          width: 16px;
      }
      
      input[type="checkbox"]:checked:before {
        background: radial-gradient(#0500FF 0%,#0500FF 50%,transparent 60%,transparent);
        border-color: #343434;
      }
  }

    //Adjust personalizer WRAPIN
    .ptw-app-wrapper{
      display: flex;
      flex-wrap: wrap;
      column-gap: 17px;
      row-gap: 13px;
      padding: 17px !important;
      border-radius: 22px;
      border: 1px solid #1C1C1C;
      background: #F9F9F9;
      margin-bottom: 0px !important;
      width: 350px;
      .ptw-app-desc{
        flex: 1;
        label[for="ptw-gift-needed"]{
          flex: 1;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 1.6px;
          margin-left: 10px;

          .ptw-price{
            color: #343434;
            text-align: right;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.4px;
          }
        }
      }
      .ptw-app-label{
        display: flex;
        input{
          height: 15px;
        }

      }
      .ptw-app-gnote{
        display: flex;
        column-gap: 17px;
        width: 100%;

        .ptw-gift-image{
          width: 90px !important;
          height: 90px !important;
          border-radius: 10px;
          border: 1px solid #343434;
        }
        .ptw-message-note{
          display: initial !important;
          flex: 1;
          
            .note-label{
              color: #1C1C1C;
              font-family: Nunito Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 14px; /* 100% */
              letter-spacing: 1.4px;
              margin-bottom: 15px;
            }

            textarea{
              width: 100%;
              border-radius: 10px;
              border: 1px solid #1C1C1C;
              background: #F8F8F8;
              height: 49px;
            }
        }
      }
    }

    //complimentaory product
    .product-info__block-item[data-block-type="complementary-products"]{
      .complementary-products__header {
        p{
          color: #1C1C1C;
          font-family: Nunito Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.8px;
        }
      }
      .horizontal-product-card{
        border-radius: 22px;
        background: #1C1C1C;
        padding: 18px 22px;
        .horizontal-product-card__figure{
          border-radius: 15px;
          overflow: hidden;
        }
        .horizontal-product-card__info{
          .product-title{
            color: #FFF;
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.8px;
            text-transform: uppercase;
          }
          price-list{
            sale-price{
              color: #FFF;
              font-family: Montserrat;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 1.56px;
              text-transform: uppercase;
            }
            compare-at-price{
              color: rgba(255, 255, 255, 0.60);
              font-family: Montserrat;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 1.56px;
              text-decoration-line: strikethrough;
              text-transform: uppercase;
            }
          }
          .short_description_text{
            color: #FFF;
            font-family: Nunito Sans;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1.56px;
          }
          .button--outline{
            min-width: 172px;
            width: fit-content;
            margin-bottom: 12px;
            color: #fff;
            text-align: center;
            font-family: Nunito Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }
          .button--primary{
            background: #0500FF;
            color: #FFF;
            text-align: center;
            font-family: Nunito Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
