.template-product {
  product-gallery {
    @media screen and (min-width: 1000px) {
      --product-gallery-thumbnail-size: 6.25rem;
      column-gap: 2.438rem;
    }
    .product-gallery__thumbnail[aria-current="true"] {
      padding: 0px;
      &[aria-current="true"] {
        border-color: $active-color;
      }
    }
    // working on badge collouts
    .product-gallery__image-list{
        position: relative;
        .callout_badges_container{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 10px;
            .Badge-item{
                background-color: #1C1C1C;
                color: #FFF;
                border-radius: 22px;
                padding: 6px 12px;
                font-family: Nunito Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                width: fit-content;
            }
        }
    }
  }

  .product-info {
    //product callout
    .product_title_with_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product-title {
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 6px;
            text-transform: uppercase;
        }
        .loox-rating-content{
            color: #1C1C1C;
            font-family: Nunito Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
    }

  }
}
