@media screen and (min-width: 1000px) {
  .template--product-Yonder-dev .sticky-product-gallery product-gallery {
    --product-gallery-thumbnail-size: 6.25rem;
    -moz-column-gap: 2.438rem;
         column-gap: 2.438rem;
    position: sticky;
    top: 0;
  }
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product {
    gap: var(--product-gap, 1.5rem);
  }
}
.template--product-Yonder-dev product-gallery .product-gallery__thumbnail[aria-current=true] {
  padding: 0px;
}
.template--product-Yonder-dev product-gallery .product-gallery__thumbnail[aria-current=true][aria-current=true] {
  border-color: #0500FF;
}
.template--product-Yonder-dev product-gallery .product-gallery__image-list {
  position: relative;
}
.template--product-Yonder-dev product-gallery .product-gallery__image-list .callout_badges_container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev product-gallery .product-gallery__image-list .callout_badges_container {
    left: -10px;
  }
}
.template--product-Yonder-dev product-gallery .product-gallery__image-list .callout_badges_container .Badge-item {
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 22px;
  padding: 6px 12px;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev product-gallery {
    --product-gallery-carousel-grid: auto / auto-flow min(28rem, 90vw);
  }
}
.template--product-Yonder-dev .product-info .product_title_with_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.template--product-Yonder-dev .product-info .product_title_with_info .product-title {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product_title_with_info .product-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
  }
}
.template--product-Yonder-dev .product-info .product_title_with_info .loox-rating-content {
  color: #1c1c1c;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info-type-text:nth-child(-n+2) .prose :where(h1, h2, h3, h4, h5, h6) {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info-type-text:nth-child(even) {
  color: #343434;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.template--product-Yonder-dev .product-info .product-info-type-text:nth-child(even) ul {
  row-gap: 9px;
}
.template--product-Yonder-dev .product-info .product-info-type-text:nth-child(even) ul li {
  padding: 0px;
}
.template--product-Yonder-dev .product-info .product_with_price_container {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  --on-sale-text: 5, 0, 255;
  --on-sale-badge-background: 5, 0, 255;
}
.template--product-Yonder-dev .product-info .product_with_price_container sale-price {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product_with_price_container compare-at-price {
  color: rgba(28, 28, 28, 0.51);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-decoration-line: strikethrough;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product_with_price_container badge-list on-sale-badge {
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 22px;
  padding: 5px 10px;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack:not(.variant-picker__option-values) {
  color: #343434;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack:not(.variant-picker__option-values) {
    font-size: 16px;
  }
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack:not(.variant-picker__option-values) .text-subdued {
  color: inherit;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack.variant-picker__option-values {
  -moz-column-gap: 13px;
       column-gap: 13px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack.variant-picker__option-values {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack.variant-picker__option-values .media-swatch {
  border-radius: 22px;
  border-color: #BEBEBE;
  aspect-ratio: 1;
  --swatch-size: 6.938rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack.variant-picker__option-values .media-swatch {
    --swatch-size: 5.875rem;
  }
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=product-variations] .variant-picker__option .h-stack.variant-picker__option-values .media-swatch.is-selected {
  border-color: #0500FF;
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  flex-direction: row-reverse;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box {
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons {
  flex: 1;
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons button[type=submit] {
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons button[type=submit] {
    -moz-column-gap: 6px;
         column-gap: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons button[type=submit]:hover {
  color: #1C1C1C;
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons .price-list--product sale-price {
  color: inherit;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box buy-buttons .price-list--product compare-at-price {
  display: none;
}
.template--product-Yonder-dev .product-info .product_buy_form_wrapper .container_buy_box quantity-selector {
  --quantity-selector-height: 2.5rem;
  --quantity-selector-input-width: 1.5rem;
  grid-auto-rows: auto;
  border-radius: 22px;
}
.template--product-Yonder-dev .product-info .product-info__block-group.accordion-group .accordion .accordion__toggle {
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.8px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-info__block-group.accordion-group .accordion .accordion__toggle {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}
.template--product-Yonder-dev .product-info .feature-badge-list-v2 {
  justify-content: space-evenly;
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  .template--product-Yonder-dev .product-info .feature-badge-list-v2 {
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.template--product-Yonder-dev .product-info .feature-badge-list-v2 .product-info__block-item {
  width: 100px;
  min-width: 100px;
}
.template--product-Yonder-dev .product-info .feature-badge-list-v2 .product-info__block-item .feature-badge {
  flex-direction: column;
  row-gap: 18px;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px;
}
.template--product-Yonder-dev .product-info .scroll-customize-wrapper-mrb {
  margin-bottom: 27px;
}
.template--product-Yonder-dev .product-info .product_customizar_options {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product_customizar_options {
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
}
.template--product-Yonder-dev .product-info .product-personalizer {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 17px;
       column-gap: 17px;
  row-gap: 13px;
  padding: 14px 16px !important;
  border-radius: 22px;
  border: 1px solid #1C1C1C;
  background: #F9F9F9;
  margin-bottom: 0px !important;
  width: 350px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-personalizer {
    width: 320px;
  }
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr-wrapper.pplr-checkbox[data-main="1"] {
  width: 100%;
  display: flex;
  align-items: center;
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr-wrapper.pplr-checkbox[data-main="1"] .pplrlabel {
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1.6px;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr-wrapper.pplr-checkbox[data-main="1"] .pplrlabel input {
  margin-right: 10px;
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr-wrapper.pplr-checkbox[data-main="1"] .pplrlabel .pplr_option_price_span {
  color: #343434;
  text-align: right;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  flex: 1;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper {
  order: 3;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  justify-content: space-between;
  row-gap: 6px;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .oindexlabel {
  width: 100%;
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 1.4px;
  padding: 5px 0px;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .label-with-check {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .pplrlabel {
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.4px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  height: -moz-fit-content;
  height: fit-content;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper input[type=text] {
  border-radius: 10px;
  border: 1px solid #1C1C1C;
  background: #F8F8F8;
  margin-bottom: 0px;
  order: 3;
  height: 27px;
  padding: 5px 10px;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .pplr-character-count {
  padding: 0px;
  position: relative;
  color: #B5B5B5;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.4px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0px;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  margin-left: auto;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .pplr-character-count .lt {
  display: none;
}
.template--product-Yonder-dev .product-info .product-personalizer .mains-wrapper .pplr-wrapper .pplr-character-count .lm {
  display: initial;
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr_image_loader {
  width: 90px !important;
  height: 90px !important;
  border-radius: 10px;
  border: 1px solid #343434;
  overflow: hidden;
}
.template--product-Yonder-dev .product-info .product-personalizer .pplr_image_loader img {
  width: 90px !important;
  height: 90px !important;
  max-width: initial;
}
.template--product-Yonder-dev .product-info .ptw-app-label, .template--product-Yonder-dev .product-info .pplr-wrapper .pplrlabel {
  /* Hide the default checkbox */
}
.template--product-Yonder-dev .product-info .ptw-app-label input[type=checkbox], .template--product-Yonder-dev .product-info .pplr-wrapper .pplrlabel input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 16px;
}
.template--product-Yonder-dev .product-info .ptw-app-label input[type=checkbox]:before, .template--product-Yonder-dev .product-info .pplr-wrapper .pplrlabel input[type=checkbox]:before {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid;
  border-radius: 22px;
  background-color: transparent;
  border-color: #343434;
  box-sizing: border-box;
  color: #3acfb6;
  content: close-quote;
  display: inline-block;
  height: 16px;
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
  width: 16px;
}
.template--product-Yonder-dev .product-info .ptw-app-label input[type=checkbox]:checked:before, .template--product-Yonder-dev .product-info .pplr-wrapper .pplrlabel input[type=checkbox]:checked:before {
  background: radial-gradient(#0500FF 0%, #0500FF 50%, transparent 60%, transparent);
  border-color: #343434;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 17px;
       column-gap: 17px;
  row-gap: 13px;
  padding: 17px !important;
  border-radius: 22px;
  border: 1px solid #1C1C1C;
  background: #F9F9F9;
  margin-bottom: 0px !important;
  width: 350px;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .ptw-app-wrapper {
    width: 320px;
  }
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-desc {
  flex: 1;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-desc label[for=ptw-gift-needed] {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.6px;
  margin-left: 10px;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-desc label[for=ptw-gift-needed] .ptw-price {
  color: #343434;
  text-align: right;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-label {
  display: flex;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-label input {
  height: 15px;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-gnote {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
  width: 100%;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-gnote .ptw-gift-image {
  width: 90px !important;
  height: 90px !important;
  border-radius: 10px;
  border: 1px solid #343434;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-gnote .ptw-message-note {
  display: initial !important;
  flex: 1;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-gnote .ptw-message-note .note-label {
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 1.4px;
  margin-bottom: 15px;
}
.template--product-Yonder-dev .product-info .ptw-app-wrapper .ptw-app-gnote .ptw-message-note textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #1C1C1C;
  background: #F8F8F8;
  height: 49px;
  padding: 10px;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .complementary-products__header {
  justify-content: start;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .complementary-products__header {
    row-gap: 10px;
  }
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .complementary-products__header p {
  color: #1C1C1C;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.8px;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card {
  border-radius: 22px;
  background: #1C1C1C;
  padding: 18px 22px;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__figure {
  border-radius: 15px;
  overflow: hidden;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info .product-title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info price-list sale-price {
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info price-list compare-at-price {
  color: rgba(255, 255, 255, 0.6);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.56px;
  text-decoration-line: strikethrough;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info .short_description_text {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.56px;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info .action-container {
  min-width: 172px;
  width: 172px;
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info .action-container .button--outline {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 12px;
  width: 100%;
  padding-inline: 10px;
  color: inherit;
}
.template--product-Yonder-dev .product-info .product-info__block-item[data-block-type=complementary-products-v2] .horizontal-product-card .horizontal-product-card__info .action-container .button--primary {
  background: #0500FF;
  width: 100%;
  padding-inline: 10px;
}
.template--product-Yonder-dev .product-info horizontal-product-card {
  position: relative;
}
.template--product-Yonder-dev .product-info horizontal-product-card .icon-helper {
  position: absolute;
  top: 23px;
  right: 17px;
  cursor: pointer;
  z-index: 2;
}
.template--product-Yonder-dev .product-info horizontal-product-card:not(.expanded-area-button) .short_description_text {
  display: none;
}
.template--product-Yonder-dev .product-info horizontal-product-card:not(.expanded-area-button) .icon-helper.remove-icon {
  display: none;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button {
  min-height: 130px;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button .icon-helper.question-icon {
  display: none;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button .horizontal-product-card__info {
  height: 100%;
  row-gap: 15px;
  max-width: 70%;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button .horizontal-product-card__figure {
  display: none;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button price-list {
  display: none;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button .short_description_text {
  display: initial;
}
.template--product-Yonder-dev .product-info horizontal-product-card.expanded-area-button .shopify-product-form {
  display: none;
}

.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=title-with-rating] {
  -webkit-margin-after: 0.813rem;
          margin-block-end: 0.813rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=title-with-rating] {
    -webkit-margin-after: 1.188rem;
            margin-block-end: 1.188rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info-type-text:nth-child(-n+2) {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 1.063rem;
          margin-block-end: 1.063rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info-type-text:nth-child(-n+2) {
    -webkit-margin-after: 1.063rem;
            margin-block-end: 1.063rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=price] {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=price] {
    -webkit-margin-after: 1.375rem;
            margin-block-end: 1.375rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info-type-text:nth-child(even) {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 1.75rem;
          margin-block-end: 1.75rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info-type-text:nth-child(even) {
    -webkit-margin-after: 1.375rem;
            margin-block-end: 1.375rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=product-variations] {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 1.625rem;
          margin-block-end: 1.625rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=product-variations] {
    -webkit-margin-after: 1.188rem;
            margin-block-end: 1.188rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=buy-buttons-with-quantity] {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 2.25rem;
          margin-block-end: 2.25rem;
}
.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=buy-buttons-with-quantity] .scroll-customize-wrapper-mrb {
  -webkit-margin-after: 1.438rem;
          margin-block-end: 1.438rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=buy-buttons-with-quantity] {
    -webkit-margin-after: 2.188rem;
            margin-block-end: 2.188rem;
  }
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=buy-buttons-with-quantity] .scroll-customize-wrapper-mrb {
    -webkit-margin-after: 1.563rem;
            margin-block-end: 1.563rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .block-product-feature_with_icon_v2 {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 2.313rem;
          margin-block-end: 2.313rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .block-product-feature_with_icon_v2 {
    -webkit-margin-after: 2.063rem;
            margin-block-end: 2.063rem;
  }
}
.template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=accordion-group] {
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 2.05rem;
          margin-block-end: 2.05rem;
}
@media screen and (max-width: 999px) {
  .template--product-Yonder-dev .product-info__block-list .product-info__block-item[data-block-type=accordion-group] {
    -webkit-margin-after: 2.05rem;
            margin-block-end: 2.05rem;
  }
}

scroll-wrapper-slider {
  display: block;
  position: relative;
}
scroll-wrapper-slider .inner_container_items {
  width: 100%;
  overflow-x: auto;
  position: relative;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}
scroll-wrapper-slider .arrow-slider {
  position: absolute;
  z-index: 9;
  top: calc(50% - 19px);
  cursor: pointer;
  visibility: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
scroll-wrapper-slider .left-button svg {
  transform: rotate(180deg);
}
scroll-wrapper-slider .right-button {
  right: 0px;
}
scroll-wrapper-slider.without-arrows .arrow-slider {
  display: none !important;
}
scroll-wrapper-slider.without-scroll .inner_container_items::-webkit-scrollbar {
  display: none;
}
